body{
    margin: 0;
    padding: 0px 0px;
    height: 100vh;
}


@media (min-width: 768px) {
    .overflow-auto-md{
        overflow: auto;
    }
    .mediumheight{
        max-height: 80vh;
    }
}
