{% extends 'layouts.html' %}
{% block content %}
<form method="post" action="{{url_for("main.post_order")}}" class="d-flex justify-content-end mx-3">
  <select name="order" onchange="this.form.submit()" class="">
    <option disabled selected value="0">--Sort By--</option>
    <option value="1">Date posted - Newest</option>
    <option value="2">Date posted - Oldest</option>
    <option value="3">Most likes</option>
    <option value="4">Most comments</option>
  </select>
</form>
  {% for post in posts.items %}
  <div class="bg-light rounded text-black my-4 mx-3">
    <div class="container  d-flex justify-content-center flex-md-row flex-column">
      <div class="d-flex align-items-center justify-content-center">
        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/' + post.author.image) }}" style="width: 100px;  height: 100px;" />
      </div>
      <div class="flex-fill text-center mx-3 py-3">
        <a class="title fs-4 text-decoration-none text-black" href="{{ url_for('posts.post', id=post.id) }}">{{ post.title }}</a>

        <p class="mt-3">{{ post.content }}</p>
      </div>
      <div class="d-flex flex-md-column justify-content-center flex-wrap">
        <p class="bold fw-4 fs-5 m-0">Published By</p>
        <a href="{{url_for("users.user_post", username=post.author.username)}}" class="text-decoration-none mx-1 pt-1">{{ post.author.username }}</a>
        <p class="m-0 pt-1 mx-1">on</p>
        <p class="pt-1 m-0">{{ post.date_posted.strftime('%d %B %Y') }}</p>
      </div>
    </div>
    <div class="d-flex justify-content-around bg-info">
      <form method="post" action="{{url_for("posts.like_post", id=post.id)}}">
        {% if current_user.is_authenticated and post.has_liked(current_user)%}
        <button id="like" type="submit" class="bg-info border-0 text-primary pb-2 d-flex"><p class="pe-2 pt-1 m-0 fw-semibold">Like</p><img src="{{url_for("static", filename="icons/image2.png")}}" class="mt-2 me-1"  style="width: 15px; height: 15px;"></img><p class="pt-1 my-0 fw-semibold"> ({{post.like_count}})</p></button>
        {%  else %}
        <button  id="like" type="submit" class="bg-info border-0 text-primary pb-2 d-flex"><p class="pe-2 pt-1 m-0 fw-semibold">Like</p><img src="{{url_for("static", filename="icons/image.png")}}"  class="mt-2 me-1" style="width: 15px; height: 15px;"></img><p class="pt-1 my-0 fw-semibold"> ({{post.like_count}})</p></button>
        {% endif %}
      </form>
      <a href="{{url_for("comment.new_comment", p_id=post.id)}}" class="text-decoration-none pt-1">Comment 💬</a>
    </div>
  </div>

  {% endfor %}

  <div class="d-flex justify-content-center">
    {% for page in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page %}
        {% if posts.page == page %}
          <a href="{{ url_for('main.home', page=page, val=val) }}" class="btn btn-info border boder-1 mx-1">{{ page }}</a>
        {% else %}
          <a href="{{ url_for('main.home', page=page, val=val) }}" class="btn btn-light border boder-1 mx-1">{{ page }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
